<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        textarea:focus{outline: none} input:focus{outline: none}
                                      textarea{border-radius:2% }
                                      input {border-radius: 2%}
    </style>
</head>
<body style="background-color: cadetblue;">
<form style="position: fixed;height:700px;width: 30%;left:35%;background-color: transparent;border-radius: 1%;border: none;
           box-shadow: inset 0 0 3px lightgray;top:20%;color: whitesmoke;text-align: center;transition: all 1s ease"
      action="{% url 'create_post' %}" method="post"
                 enctype="multipart/form-data">
{% csrf_token %}
   <div style="width: 100%;height: 100%;position: absolute;right: 0;top: 0;transition: all 1s ease">
    {% for field in form %}
        {% if field.name != 'author' %}
     {{ field }}
     <br>
            {{ field.errors }}
        {% endif %}
    {% endfor %}
   <select name="author" id="id_author" style="display: none"  required>
       <option value="{{ user.id }}" selected></option>
   </select>
   <input type="file" accept="image/jpeg" style="display: none" id="pictures" name="pictures" multiple oninput="expand(this.files)">

<label for="pictures" style="background-color: greenyellow;color: whitesmoke;border: none;border-radius: 1%
;height:120px;width: 240px">
    Add Pictures
</label>
   </div>
<div style="width: 0;position: absolute;left: 2%;bottom: 4%;transition:all 4s ease;display: none" id="images_container">

   </div>
<div style="width: 0%;height:80% ;position: absolute;top:0;left: 0;transition: all 1s ease;" id="main_pic">
<img  style="width: 100%;height:100%">
</div>
<!--
<img style="position: absolute;width: 72.75%;left: 0;top:0;height: 80%" src="/static/WebApp/imgs/city000.gif"> -->
<button onclick="finalize_photo(this.parentElement);"
        style="position:absolute;background-color:lightgreen;border: none;border-radius: 2%;width: 30%;left: 35%;bottom: 0">
    Create
</button>
</form>
<button onclick="console.log(final_images)">
    bbbb
</button>
<script>

    let current_pic=null;
    const frm= document.querySelector('form');
    const imgs_container=frm.querySelector('div#images_container');
    const main_image=document.getElementById('main_pic');
    let imgs_count=0;
    let final_images=[];
    let dragging_element=null;
    function expand(files){

       frm.style.width='60%';
       frm.style.left='20%';
       frm.querySelector('div').style.width='30%'

        imgs_container.style.display='block'
        imgs_container.style.width='60%';

        main_image.style.left='10%'; main_image.style.width='50%';
        let first_pic=null;
       for(const file of files)
       {
           const url=URL.createObjectURL(file);
           const div=document.createElement('div'); div.style.cssText='width:13%;height: 70px;float: left;margin-left:1%;position:relative';
           const img=document.createElement('img'); img.src= url;
           img.style.cssText='width:100%;height:100%'; div.appendChild(img);
           const delete_img=document.createElement('img'); delete_img.style.cssText='width:20px;height:20px;position:absolute;right:0;top:0';
           delete_img.src='/static/WebApp/imgs/rejected.png';
           div.setAttribute('data-ind',imgs_count.toString());
           div.appendChild(delete_img); delete_img.addEventListener('click',function () {
           delete_picture(div);
       }) ;
           imgs_container.appendChild(div)
           div.addEventListener('mousedown',function (ev){set_main_pic(div)})
           div.addEventListener('dragstart',function (ev){on_drag_start(ev)})
           div.addEventListener('dragover',function (ev){on_drag_over(ev)})
           div.addEventListener('drop',function (ev){on_drop(ev)})
           imgs_count++;
           final_images.push(file);
           if(first_pic==null)
           {
               first_pic=div;
           }

       }
       set_main_pic(first_pic)
    }
    function set_main_pic(element)
    {

      if(current_pic!=null)
        {
            current_pic.style.border='none';
        }
        current_pic=element;
        current_pic.style.border='4px solid gray';
        main_image.querySelector('img').src=element.querySelector('img').src;



    }
    function delete_picture(element)
    {
        const ind=parseInt(element.getAttribute('data-ind'))
        final_images.splice(ind,1);
        element.remove();
        imgs_count--;
        if(imgs_count==0)
        {
            minimize_pictures();
        }
        console.log(final_images)
    }
  function minimize_pictures()
  {
      frm.style.width='30%';
       frm.style.left='35%';
       frm.querySelector('div').style.width='100%'

        imgs_container.style.cssText='width: 0;position: absolute;left: 2%;bottom: 4%;transition:all 4s ease;display: none'
      main_image.src='';
       main_image.style.cssText='width: 0%;height:80% ;position: absolute;top:0;left: 0;transition: all 1s ease;';

  }
     function finalize_photo(element)
     {
         const file_list=new DataTransfer();
         for(const file of final_images)
         {
             file_list.items.add(file)
         }

         element.querySelector('#pictures').files=file_list.files;

     }
     function on_drag_start(event)
     {

         dragging_element=event.target.parentElement;
     }
     function on_drag_over(event)
     {
         event.preventDefault();

     }
     function on_drop(event)
     {

         console.log(final_images)
         event.preventDefault();
         const ev_par=event.target.parentElement

         //caching indexes
         const num1=dragging_element.getAttribute('data-ind');
         const num2=ev_par.getAttribute('data-ind');
         //swapping sources
         const src1=dragging_element.querySelector('img').src;
         dragging_element.querySelector('img').src=ev_par.querySelector('img').src;
         ev_par.querySelector('img').src=src1;



         //swapping list files

         const temp1=final_images[num1]; final_images[num1]=final_images[num2];
         final_images[num2]=temp1;


     }
</script>
</body>
</html>