<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link href="/static/WebApp/stylesheets/login_page.css" rel="stylesheet">
    <link href="/static/WebApp/javascript/login_page.js" rel="script">
</head>
<body >
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function as_for_pass_res(form)
    {
        const frm_data=new FormData(form);
        const token=document.getElementsByName('csrfmiddlewaretoken')[0].value;
        $.ajax({
            url:'{% url 'ask_for_pass_reset'  %}',
            type :'POST',
            data:frm_data,
            headers:{'X-csrftoken':token.value},
            contentType:false,
            processData:false
        }).then(res=>{
            if(res.status === 'success')
            {
                alert('message sent successfully')
            }
            else
            {
                alert('couldnt send it')
            }
        })
    }
</script>
<form class="login_form"   action="{% url 'ask_for_pass_reset' %}">
    {% csrf_token %}
Your Email:
    <br>
<input type="email" name="email">
<button onclick="event.preventDefault();as_for_pass_res(this.parentElement)">
Send
</button>
</form>
</body>

</html>