<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form
        {

            position:fixed;top:25%;right: 25%;border: none;height: 50%;width: 50%;background-color: transparent
;border-radius: 1%;box-shadow: inset 0 0 6px lightgray;
        }
        input
        {
            border: none; border-radius: 1%;  margin-left: 25%;
            width: 30% ; height: 15%;
            background-color: transparent; box-shadow: inset 0 0 6px;
        }
    </style>
</head>
<body>
<form action="{% url 'pass_reset' %}" method="post">
{% csrf_token %}
<input type="text" style="display: none" value="{{ reset_code }}" name="reset_code">
    {% for field in form %}
    {{ field.label }}:
        <br>
        {{ field }}
        <br>
        {% for error in field.errors %}
            <p style="color: red">
            {{ error }}
            </p>
            {% endfor %}
    {% endfor %}
<br>
<button type="submit" >
    Save
</button>
</form>
</body>
</html>